@{
  Layout = "_Layout";
}

<h1>Welcome to your Hair Salon client and stylist tracker</h1>

<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<br>